.display_block {
	display: block;
}
.display_none {
	display: none;
}
.opacity_1 {
	opacity: 1;
}
.clearfix {
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}



.transparent{
	opacity: 0;
}
// color
.orange_color{
	color: $orange_main;
}




.tac{
	text-align: center;
}