// fonts


$roboto: 'Roboto', sans-serif;



$helvBlack:'HelveticaNeueCyr-Black', sans-serif;
$helvBold:'HelveticaNeueCyr-Bold', sans-serif;
$helvMedium:'HelveticaNeueCyr-Medium', sans-serif;
$helvRoman:'HelveticaNeueCyr-Roman', sans-serif;












// colors
$main_gray: #131313;
$light_gray: #555454;
$very_bright_gray: #E8E8E8;
$blue_link: #3066CE;
$orange_main: #F2994A;
$for_icon: #EDEDED;
$gray_for_icon: #C3C3C3;
$white: #FFFFFF;
$a_1: #A1A1A1;
$orange: #FFCB54;
$second_gray: #818183;



// font-size

$fz12:12px;
$fz14:14px;
$fz16:16px;
$fz18:18px;
$fz20:20px;
$fz25:25px;
$fz30:30px;
$fz40:40px;
$fz72:72px;



// letter spasing

$lt05:0.05em;