.abouTheExhibition{
	padding: 68px 0 34px;
}


.abouTheExhibition__wrapp{
	margin-top: 50px;
	width: 1040px;
}
.abouTheExhibition__list{
	
}
.abouTheExhibition__item{
	display: inline-block;
	vertical-align: top;
	padding: 15px 0;
	width: 167px;
	text-align: left;
}

.abouTheExhibition__number{
	position: relative;
	font-size: $fz40 + 8px;
	font-weight: bold;
	&:before{
		content: "";
		background:url(images/icon/icon-plus.svg) no-repeat center/contain;
		width: 21px;
		height: 21px;
		position: absolute;
		left: -40px;
		top: 50%;
		transform:translate(0,-50%);
	}
	&:after{
		content: "";
		position: absolute;
		top:100%;
		left: 0;
		width: 134px;
		height: 2px;
		background: $orange_main;
	}
}
.abouTheExhibition__text{
	margin-top: 5px;
	font-size: $fz20;
	font-weight: bold;
}


.abouTheExhibition__infotxt{
	margin-top: 65px;
	margin-bottom: 45px;
	font-size: $fz16;
	color: $light_gray;
	line-height: 1.8;
}
@media (max-width: 1360px) {
	.abouTheExhibition__wrapp{
		width: 100%;
	}
}
@media (max-width: 1199px) {
	.abouTheExhibition__number{
		font-size: $fz40;
	}
	.abouTheExhibition__infotxt{
		font-size: $fz16;
	}
}
@media (max-width: 730px) {
	.abouTheExhibition__wrapp{
		padding-left: 40px;
	}
	.abouTheExhibition__item{
		padding: 10px 0;
		width: 100%;
	}
	.abouTheExhibition__number{
		font-size: $fz40 - 10px;
	}
	.abouTheExhibition__infotxt{
		font-size: $fz16;
	}
	.abouTheExhibition__infotxt{
		margin-top: 20px;
	}
}