.advertising{
	padding-bottom: 100px;
}


.advertising__text{
	margin: 0;
	margin-bottom: 50px;
	max-width: 610px;
	width: 100%;
}

.advertising__row{
	font-size: 0;
	margin-left: -25px;
	margin-right: -25px;
}
.advertising__col{
	padding:0 25px;
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
.advertising__box{
	position: relative;
	padding: 50px;
	background: $white;
	border: 2px solid $orange_main;
	margin-bottom: 50px;
}

.advertising__subtitle{
	text-transform: uppercase;
	font-weight: 900;
	font-size: $fz16;
	margin-bottom: 40px;
}


.advertising__list{
	
}
.advertising__item{
	border-top: 1px solid $for_icon;
	padding: 23px 0;
}
.advertising__name,
.advertising__price{
	font-size: $fz16;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
.advertising__name{
	max-width: 390px;
	line-height: 1.4;
	width: 100%;
	a{
		color: $orange_main;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.advertising__price{
	
}

.advertising__maket{
	font-size: $fz12;
	color: $a_1;
	margin-top: 10px;
}
.advertising__btn{
	max-width: 300px;
	margin-top: 30px;
}

@media (max-width:1360px) {
	.advertising__box {
	    padding: 25px;
	}
}
@media (max-width:1199px) {
	.advertising__name {
    	max-width: 255px;
    }
}
@media (max-width:991px) {
	.advertising {
	    padding-bottom: 50px;
	}
	.advertising__col{
		width: 100%;
	}
	.advertising__name {
	    max-width: calc(100% - 120px);
	}
	.advertising__item {
	    padding: 17px 0;
    }
}
