.bannersLogos{
	padding-bottom: 80px;
}

.bannersLogos__row{
	margin-left: -25px;
	margin-right: -25px;
	font-size: 0;
}

.bannersLogos__block{
	max-width: 600px;
	padding: 25px;
	display: inline-block;
	vertical-align: top;
}
.bannersLogos__rowinn{
	margin-left: -20px;
	margin-right: -20px;
	font-size: 0;
}

.bannersLogos__col{
	
}

.bannersLogos__banner{
	text-align: center;
	display: inline-block;
	vertical-align: top;
	padding:20px;
}
.bannersLogos__textname{
	margin-top: 15px;
	text-align: center;
	a{
		font-size: $fz12 - 1px;
		color: $light_gray;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}

@media (max-width: 1199px) {
	.bannersLogos__block {
    	max-width: 50%;
    }
    .bannersLogos__rowinn_half{
    	.bannersLogos__banner{
    		width: 50%;
    	}
    }
}
@media (max-width: 991px) {
	.bannersLogos__block {
    	max-width: 50%;
    }
    .bannersLogos__rowinn_half{
    	.bannersLogos__banner{
    		width: 100%;
    	}
    }
}
@media (max-width: 530px) {
	.bannersLogos__block {

    	max-width: 100%;
    }
    .bannersLogos__rowinn_half{
    	.bannersLogos__banner{
    		width: auto;
    	}
    }
}