.conferenceTopicsMixBild__list{
	.sergininKonusu__item{
		width: 100%;
		padding-left: 40px;
		&:before{
			left: 0;
		}
	}	
}

@media (max-width: 991px) {
	.conferenceTopicsMixBild__list{
		padding-left: 0;
		
	}
}
