.contacts{
	padding-top: 100px;
}
.contacts__wrapp{
	
}
.contacts__row{
	
}

.contacts__col{
	display: inline-block;
	vertical-align: top;
	&.contacts__col_left{
		width: calc(100% - 217px);
	}
	&.contacts__col_right{
		width: 215px;
	}
}


.contacts__people{
	font-size: 1px;
	margin-left: -10px;
	margin-right: -10px;
}
.contacts__peoplecol{
	padding: 10px;
	width: calc(50% - 1px);
	display: inline-block;
	vertical-align: top;
}
.contacts__person{
	.person__image{
		vertical-align: top;
		position: relative;
		width: 150px;
		height: 225px;
	}
	.person__data{
		vertical-align: top;
		width: calc(100% - 200px);
	}
	.person__name{
		font-size: $fz20;
		margin-bottom: 15px;
	}
	.person__status{
		margin-bottom: 25px;
	}
}


.contacts__social{
	margin:0 -5px;
	width: auto;
	text-align: left;
	.social__link{
		width: 49px;
		height: 49px;
		svg{
			width: 100%;
			height: 100%;
		}
		path{
			transition: all .3s;
			fill:$orange_main;
		}
		&:hover{
			path{
				fill:$orange;
			}
		}
	}
}


@media (max-width: 1199px) {
	.contacts__peoplecol{
		width: 100%;
	}
}
@media (max-width: 730px) {
	.contacts {
	    padding-top: 55px;
	}
	.contacts__col{
		&.contacts__col_left{
			width:100%;
		}
		&.contacts__col_right{
			width: 100%;
		}
	}
}

@media (max-width: 470px) {
	
	.contacts__person .person__data {
		padding-top: 20px;
	    vertical-align: top;
	    width: 100%;
	}
}