.exhibition{
	padding-top: 80px;
	padding-bottom: 80px;
	.container_fluid{
		
	}	
}

.exhibition__row{
	padding: 50px 0;
	font-size: 0;
	margin-left: -25px;
	margin-right: -25px;
}
.exhibition__col{
	padding: 0 25px;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	
	>p{
		font-size: $fz16;
		color: $light_gray;
		margin-bottom: 30px;
		line-height: 1.65;
		&.exhibition__text_thanks{
			max-width: 910px;
			margin: 110px auto 0;
		}
	}

}


.exhibition__title{
	
}

.exhibition__listdata{
	li{
		position: relative;
		display: inline-block;
		vertical-align: top;
		color: $main_gray;
		font-size: $fz14;
		font-weight: bold;
		-webkit-border-radius: 30px;
		        border-radius: 30px;
		padding: 10px 18px;
		margin-right: 5px;
		&:hover{
			background: rgba($orange,0.5);
		}
		&.active{
			background: $orange;
			span{
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
			}
		}
	}
	a{
		z-index: 1;
		cursor: pointer;
		opacity: 0;
		display: inline-block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}


.exhibition__title{
	font-size: $fz20;
	font-family: $helvMedium;
	margin-bottom: 30px;
}



.exhibition__video{
	position: relative;
	padding-top: calc(397% * 100 / 620); 
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


.exhibition__person{
	margin-top: 50px;
	
	.person__image {
	    width: 115px;
   	 	height: 154px;
    }
    .person__data {
    	width: calc(100% - 147px);
    	p{
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
		}
    }
}



// slider

.exhibition__slider{
	margin-bottom: 15px;
	pointer-events: none;
}
.exhibition__slide{
	display: none;
	&:first-child{
		display: block;
	}
}
.exhibition__slidebox{
	position: relative;
	padding-top: calc(370% * 100 / 620);
	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}



.exhibition__sliderdost{
	
	font-size: 0;
	margin-left: -7.5px;
	margin-right: -7.5px;
}
.exhibition__slidedost{
	padding: 0 7.5px;
	width: 25%;
	display: inline-block;
	vertical-align: top;
	&:before{
		
	}
	&.slick-current{
		.exhibition__slidedostbox{
			&:before{
				background: rgba(0,0,0,0);
			}
		}
	}
}
.exhibition__slidedostbox{
	position: relative;
	padding-top: 100%;
	&:before{
		z-index: 1;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}
	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}



// img

.exhibition__imageonebox{
	width: calc(100% + 100px);
}
.exhibition__imageone{
	position: relative;
	padding-top: calc(484% * 100 / 720);
	
}
.exhibition__img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit:cover;
}



// imgmulti

.exhibition__rowin{
	margin: -10px;
	position: relative;
	font-size: 0;
}
.exhibition__listimg{
	
}
.exhibition__itemimg{
	transition:0.3s;
	width: 50%;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
}
.exhibition__imagemulti{
	position: relative;
	padding-top: calc(197% * 100 / 301);
}


.exhibition__itemimg_big{
	width: 100%;
	.exhibition__imagemulti{
		padding-top: calc(480% * 100 / 620);
	}
}



.exhibition__row_gallery{
	padding-top: 0;
	margin: 0;
	.exhibition__itemimg{
		width: 25%;
		&:hover{
			opacity: 0.5;
		}
	}
}
@media (max-width: 1199px) {
	.exhibition__row{
		padding: 50px 0;
		margin-left: -12.5px;
		margin-right: -12.5px;
	}
	.exhibition__row_gallery{
		margin: 0;
	}
	.exhibition__col{
		padding: 0 12.5px;
		width: 50%;
	}
}
@media (max-width: 991px) {
	.exhibition__row{
		padding: 40px 0;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.exhibition__row_gallery{
		margin: 0;
	}
	.exhibition__col{
		width: 100%;
		padding: 0 12.5px;
		&.exhibition__col_order{
			order: -1;
			margin-bottom: 30px;
			.exhibition__sliderdost{
				margin-bottom: 0;
			}
		}
	}


	.exhibition__sliderdost {
	    margin-bottom: 30px;
    }
    .exhibition__imageonebox {
	    width:100%;
	}
	.exhibition__text.exhibition__text_thanks {
	    margin: 35px auto 0;
	}
}
@media (max-width: 730px) {
	.exhibition__row{
		padding: 15px 0;
	}
	.exhibition__row_gallery .exhibition__itemimg {
	    width: 50%;
	}

}
@media (max-width: 470px) {
	.exhibition__row_gallery .exhibition__itemimg,
	.exhibition__itemimg {
	    width: 100%;
	}
	.exhibition__linkdata {
    	font-size: $fz12;
    }
}