.footer{
	padding-top: 60px;
	background: $main_gray;
	position: relative;
	z-index: 2;
}

.footer__wrapp{
	
}


.footer__row{
	padding-right: 40px;
	padding-bottom: 50px;
}
.footer__col{
	width: calc(25% - 1px);
	display: inline-block;
	vertical-align: top;
}
.footer__list{
	margin-bottom: 25px;
}
.footer__item{
	margin-bottom: 9px;
}

.footer__link{
	color: rgba($white, 0.5);
	font-size: $fz14;
	transition:0.3s;
	&.footer__link_title{
		display: inline-block;
		font-size: $fz16;
		font-weight: bold;
		margin-bottom: 9px;
	}
	&:hover{
		color: $white;
	}
}

.footer__lang{
	top: 0;
	right: 0;
	position: absolute;
}

.icon{
	color: #FFF;
}



.footer_social{
	padding: 30px 0;
	border-top: 1px solid #2D2D2D;
	.social__link{
		&:hover{
			path{
				fill: $a_1;
			}
		}
		path{
			fill:$light_gray;
			transition:all 0.3s;
		}
	}	
}


@media (max-width: 991px) {
	.footer__col{
		width: calc(50% - 1px);
	}
}

@media (max-width: 450px) {
	.footer__col{
		width:100%;
	}
}