.headerConference{
	position: relative;
	overflow: hidden;
	.container_fluid{
		padding-top: 120px;
		min-height: 480px;
		&:before,
		&:after{
			content: "";
			position: absolute;
			bottom: 0;
		}
		&:before{
			left: -380px;
			background: url(images/bg/bg-header-conference-left.svg) no-repeat center;
			width: 1026px;
			height: 735px;
		}
		&:after{
			right: -380px;
			background: url(images/bg/bg-header-conference-right.svg) no-repeat center;
			width: 611px;
			height: 735px;
		}
	}
	
	
}

.headerConference__wrapp{
	position: relative;
	z-index: 1;
}
// body_style
.bg_conference{
	&:before{
		content: "";
		width: 50%;
		position: absolute;
		top: 0;
		left: 0;
		background: $white;
		height: 100%;
		
	}	
}

.headerConference__col{
	padding: 0 75px;
	
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 1px);
	&.headerConference__col_left{
		text-align: right;
		padding-left: 25px;
	}
	&.headerConference__col_right{
		text-align: left;
		padding-right: 25px;
	}
}

.headerConference__box{
	max-width: 580px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
}


.headerConference__title{
	font-size: $fz16;
	font-family: $helvMedium;
	margin-bottom: 15px;
}

.headerConference__img{
	margin-bottom: 49px;
}
.headerConference__btn{
	max-width: 208px;
	margin-bottom: 15px;
}

.headerConference__download{
	color: $a_1;
	font-size: $fz14;
	&:hover{
		text-decoration: underline;
	}
	
}
.headerConference__center{
	display: inline-block;
	max-width: 208px;
	width: 100%;
	text-align: center;
}


@media (max-width: 1360px) {
	.headerConference__title{
		br{
			display: none;
		}
	}
	.headerConference__box {
    	max-width: 440px;
    }
}
@media (max-width: 1199px) {
	
	.headerConference .container_fluid{
		&:before {
	    	left: -480px;
	    }
	    &:after{
	    	right: -480px;
	    }
	}
}
@media (max-width: 991px) {
	.headerConference .container_fluid {
    	padding-top: 40px;
	}
	.headerConference__col{
		width: 100%;
		text-align: left;
		padding: 20px 0;
		&.headerConference__col_left{
			text-align: left;
			padding-left: 0;
			padding-right: 0;
		}
		&.headerConference__col_right{
			text-align: left;
			padding-left: 0;
			padding-right: 0;
		}
		
	}
	.headerConference__box{
		max-width: 100%;
		
	}
	.headerConference .container_fluid{
		&:before, 
	    &:after{
	    	display: none;
	    }
	}
}