.headerPressRepresentatives{
	padding: 80px 0 100px;
}

.headerPressRepresentatives__row{
	margin-left: -25px;
	margin-right: -25px;
}
.headerPressRepresentatives__col{
	padding: 0 25px;
	width: calc(50% - 1px);
	display: inline-block;
	vertical-align: top;
}

.headerPressRepresentatives__subtitle{
	font-size: $fz20;
	font-family: $helvMedium;
	margin-bottom: 30px;
}

.headerPressRepresentatives__desc{
	max-width: 550px;
	.abouTheExhibition__infotxt{
		margin-bottom: 30px;
		margin-top: 0;
	}
}
.headerPressRepresentatives__download{
	color: $light_gray;
	margin-left: 30px;
}

.headerPressRepresentatives__board{
	position: relative;
	width: calc(100% + 100px);
	padding: 50px;
	background: #FFFFFF;
	border: 2px solid $orange_main;
}

.headerPressRepresentatives__feedback{
	max-width: 584px;
	padding: 0;
	.col{
		padding:10px;
		display: inline-block;
		vertical-align: middle;
		width: 50%;
	}
	.field{
		margin-bottom: 0;
	}
}
.headerPressRepresentatives__rowin{
	margin-left: -10px;
	margin-right: -10px;
	font-size: 0;
}


@media (max-width: 1360px) {
	.headerPressRepresentatives__board{
		width: calc(100% + 50px);
	}
}
@media (max-width: 1199px) {
	.headerPressRepresentatives__board{
		width:100%;
		padding: 25px;
	}
}
@media (max-width: 991px) {
	.headerPressRepresentatives__board{
		margin-top: 20px;
	}
	.headerPressRepresentatives__col{
		width:100%;
	}
}
@media (max-width: 730px) {
	.headerPressRepresentatives__feedback .col{
		width: 100%;
	}
	
}
@media (max-width: 530px) {
	.headerPressRepresentatives__board{
		padding: 25px 10px;
	}
	
}