.header{
	padding-top: 44px;
	min-height: 575px;
	position: relative;
	&:before{
		content:'';
		width: 1487px;
		height: 533px;
		position: absolute;
		left: calc(50% - 70px);
		top: 50%;
		transform:translate(-50%,-50%);
		
		background: url(images/bg/bg_header.png) no-repeat center;
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
	}
}


.header__data{
	font-size: $fz20;
	color: $orange_main;
	
	span{
		display: block;
	}
}


.header__subtitle{
	font-weight: bold;
	font-size: $fz40;
	line-height: 1;
	span{
		display: inline-block;
		vertical-align: middle;
	}
}
.header__logotype{
	width: 137px;
	height: 117px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}

.header__title{
	text-transform: uppercase;
	font-weight: bold;
	font-size: $fz72;
	font-family: $helvBlack;
	margin-bottom: 30px;
	line-height: 1;
}

.header__blbtn{
	
}



@media (max-width: 1360px) {
	
}
@media (max-width:991px) {
	.header{
		&:before{
			width: 1200px;
    		height: 500px;
		}
	}
	
	.header__data{
		font-size: $fz16;
	}
	.header__subtitle{
		font-size: $fz30;
	}
	.header__logotype {
    	width: 117px;
    	height: 97px;
    }
    .header__title{
    	font-size: $fz72 - 20px;
    }
}

@media (max-width:730px) {
	.header{
		min-height: 442px;
		&:before{
			top: 0;
    		transform: translate(-50%,0);
			left: calc(50% - 120px);
		}
	}
	
	.header__data{
		font-size: $fz14;
	}
	.header__subtitle{
		font-size: $fz25;
	}
	.header__logotype {
    	width: 90px;
    	height: 70px;
    }
    .header__title{
    	font-size: $fz72 - 35px;
    }
}

@media (max-width:530px) {
	.header{
		&:before{
			top: 0;
    		transform: translate(-50%,0);
			left: calc(50% - 120px);
		}
	}
	
	.header__data{
		font-size: $fz14;
		margin-bottom: 15px;
	}
	.header__subtitle{
		font-size: $fz20;
		margin-bottom: 15px;
	}
	.header__logotype {
    	width: 70px;
    	height: 50px;
    }
    .header__title{
    	font-size: $fz72 - 35px;
    }
}