.headerParticipants{
	padding-top: 80px;
	.abouTheExhibition__infotxt{
		margin-top: 0;
		margin-bottom: 35px;
		&.last_margin{
			margin: 0;
		}
	}
}
.headerParticipants__row{
	margin-left: -25px;
	margin-right: -25px;
	position: relative;
	
}
.headerParticipants__col{
	padding: 0 25px;
	display: inline-block;
	vertical-align: top;
	&.headerParticipants__col_left{
		width: calc(42% - 1px);
	}
	&.headerParticipants__col_right{
		width: calc(58% - 1px);
	}
}
.headerParticipants__image{
	position: relative;
	width: 100%;
	padding-top: calc(414% * 100 / 720);
}
.headerParticipants__img{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	object-fit:cover;
	width: 100%;
	height: 100%;
}

.headerParticipants__list{
	padding:50px 25px 40px;
}
.headerParticipants__item{
	text-align: left;
	padding:22.5px 0;
	max-width: 373px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	
}

.headerParticipants__btn{
	max-width: 286px;
}


@media (max-width: 991px) {
	.headerParticipants__row{
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.headerParticipants__col{
		&.headerParticipants__col_left,
		&.headerParticipants__col_right{
			width: 100%;
		}
		&.headerParticipants__col_right{
			-webkit-order: -1;
			    -ms-order: -1;
			        order: -1;
		    margin-bottom: 30px;
		}
	}
	.headerParticipants__list {
	    padding: 15px 25px 15px;
	}
	.headerParticipants__item {
	    padding: 10.5px 0;
    	max-width: 315px;
    }
    .blockSignatureLine__title {
    	font-size: $fz20 - 1px;
    }
	
}
@media (max-width: 730px) {
	.headerParticipants__item {
	    padding: 10.5px 0;
    	max-width: 100%;
    }
}