.hotelBooking{
	padding-bottom: 50px;
}

.hotelBooking__text{
	margin-bottom: 30px;
}
.hotelBooking__text_small{
	font-size: $fz12;
	margin-bottom: 50px;
}

.hotelBooking__banner{
	margin-bottom: 50px;
}
.hotelBooking__type,
.hotelBooking__price{
	display: inline-block;
	vertical-align: middle;
}
.hotelBooking__item_head{
	padding: 0px 0 17px;
	border-top: none;
	.hotelBooking__type,
	.hotelBooking__price{
		font-size: $fz14;
		color: $a_1;
	}
}
.hotelBooking__item_body{
	padding: 17px 0;
	.hotelBooking__type,
	.hotelBooking__price{
		font-size: $fz16;
		font-weight: 500;
	}
}

.hotelBooking__pricenum,
.hotelBooking__gallery{
	display: inline-block;
	vertical-align: top;
}
.hotelBooking__pricenum{
	max-width: 324px;
	width: 100%;
}
.hotelBooking__gallery{
	max-width: 126px;
	width: 100%;
}
.hotelBooking__subtitle{
	margin-bottom: 35px;
	color: $light_gray;
}

.hotelBooking__btn{
	margin-top: 40px;
}


@media (max-width:730px) {
	.hotelBooking__pricenum,
	.hotelBooking__gallery {
	    max-width: 100%;
	    width: 100%;
	}
}