.informationPartners{
	padding-top: 50px;
	padding-bottom: 50px;
}

.informationPartners__row{
	margin-left: -15px;
	margin-right: -15px;
}

.informationPartners__item{
	padding: 15px;
	display: inline-block;
	vertical-align: middle;
}


@media (max-width: 991px) {
	.informationPartners__list{
		text-align: center;
	}
}
@media (max-width: 730px) {
	.informationPartners {
	    padding-top: 25px;
	    padding-bottom: 25px;
	}
	.informationPartners__row{
		margin-left: -10px;
		margin-right: -10px;
	}
	.informationPartners__item{
		padding: 10px;
	}
}