.invitingCustomers{
	padding-bottom: 50px;
}
.invitingCustomers__box{
	border: none;
	border-top: 6px solid $orange_main;
}
.invitingCustomers__box_big{
	min-height: 430px;
	 
}
.invitingCustomers__box_small{
	min-height: 350px;
}
.invitingCustomers__title{
	margin-bottom: 23px;
	font-size: $fz16;
	font-weight: bold;
}

.invitingCustomers__btn{
	max-width: 250px;
}
