.keyFactsMixBild{
	
}

.keyFactsMixBild__titleAvg{
	margin-bottom: 65px;
}
.keyFactsMixBild__row{
	margin-top: -25px;
	margin-bottom: -25px;
	margin-left: -25px;
	margin-right: -25px;
}
.keyFactsMixBild__col{
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 1px);
	padding: 25px 25px;
	&.keyFactsMixBild__col_full{
		width: 100%;
	}
}

@media (max-width: 991px) {
	.keyFactsMixBild__titleAvg {
	    margin-bottom: 35px;
	}
}
@media (max-width: 730px) {
	.keyFactsMixBild__col{
		width: 100%;
	}
}
