.listparticipants{
	padding-bottom: 100px;
}

.listparticipants__slider{
	margin-bottom: 70px;
}
.listparticipants__slide{
	
}
.listparticipants__list{
	
}
.listparticipants__item{
	text-align: left;
	max-width: 377px;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	padding: 35px 0;
}
.listparticipants__logo,
.listparticipants__desc{
	display: inline-block;
	vertical-align: middle;
}
.listparticipants__logo{
	margin-right: 20px;
	padding: 5px;
	width: 140px;
	height: 89px;
	background: $white;
	text-align: center;
	img{
		display: inline-block;
	}
}
.listparticipants__img{
	display: inline-block;
	position: relative;
	top: 50%;
	transform:translate(0,-50%);
}
.listparticipants__desc{
	width: calc(100% - 160px);
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left: 1px solid $a_1;
}

.listparticipants__country{
	font-size: 0;
	margin-bottom: 12px;
}
.listparticipants__icon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
	width: 22px;
	height: 14px;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.listparticipants__name{
	font-size: $fz14;
	color: $light_gray;
	font-weight: 900;
	width: calc(100% - 30px);
	display: inline-block;
	vertical-align: middle;
}
.listparticipants__company{
	font-size: $fz16;
	color: $light_gray;
	margin-bottom: 13px;
}
.listparticipants__link{
	font-size: $fz14;
	color: $a_1;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}



.listparticipants__panelslide{
	padding: 20px 30px;
	max-width: 312px;
	width: 100%;
	margin: 0 auto;
	color:$light_gray;
	text-align: center;
}
.listparticipants__slideleft,
.listparticipants__slideright{
	transition:0.3s;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	font-size: $fz12 + 1px;
	text-transform: uppercase;
	&:before,&:after{
		transition:0.3s;
		content: "";
		display: inline-block;
		vertical-align: middle;
		border: solid $light_gray;
	 	border-width: 0 2px 2px 0;
    	display: inline-block;
    	padding: 3.5px;
	}
	span{
		display: inline-block;
		vertical-align: middle;
		padding: 0 5px;
	}
	&:hover{
		color: darken($light_gray,10%);
		&:before,&:after{
			border: solid darken($light_gray,10%);
			border-width: 0 2px 2px 0;
		}
	}
   
}
.listparticipants__slideleft{
	span{
		margin-left: 8px;
	}
	&:after{
		display: none;
	}
	&:before{
		transform: rotate(135deg);
	}
	
}
.listparticipants__slideright{
	span{
		margin-right: 8px;
	}
	 &:after{
	 	transform: rotate(-45deg);
	 }
	 &:before{
	 	display: none;
	 }
}
.listparticipants__num{
	width: 100px;
	font-size: $fz16 - 1px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	
}

@media (max-width:991px) {
	.listparticipants{
		padding-top: 40px;
	}
	.listparticipants__logo{
		width: 115px;
	    height: 64px;
	}
	.listparticipants__desc {
    	width: calc(100% - 135px);
    }
}
@media (max-width:730px) {
	.listparticipants__item {
	    padding: 15px 0;
    }
	.listparticipants__slider {
	    margin-bottom: 20px;
	}
}