.lkDownloadTicket{
	
}


.lkDownloadTicket__box{
	margin-bottom: 50px;
}
.lkDownloadTicket__image,
.lkDownloadTicket__desc{
	display: inline-block;
	vertical-align: middle;
}
.lkDownloadTicket__image{
	margin-right: 25px;
	width: 88px;
	height: 71px;
	img{
		width: 100%;
		height: 100%;
		object-fit:cover;
	}
}
.lkDownloadTicket__desc{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 113px);
	color: $light_gray;
}

.lkDownloadTicket__subtitle{
	font-size: $fz18;
	margin-bottom: 15px;
	letter-spacing: 0.03em;
	font-weight: 900;
}
.lkDownloadTicket__data{
	font-size: $fz16 - 1px;
	
	
}




.lkDownloadTicket__item{
	margin-bottom: 20px;
}
.lkDownloadTicket__name,
.lkDownloadTicket__downmail{
	display: inline-block;
	vertical-align: middle;
}
.lkDownloadTicket__name{
	width: calc(100% - 260px);
	font-size: $fz18;
}
.lkDownloadTicket__downmail{
	width: 240px;
	
}
.lkDownloadTicket__link{
	display: inline-block;
	vertical-align: middle;
	font-size: $fz16;
	color: $orange_main;
	font-weight: 500;
	transition:0.3s;
	&.lkDownloadTicket__link_marginright{
		margin-right: 25px;
	}
	&:hover{
		text-decoration: underline;
		color: darken($orange_main,10%);
	}
}

@media (max-width: 730px) {
	.lkDownloadTicket__name{
		width: calc(100% - 170px);
	}
	.lkDownloadTicket__downmail {
	    width: 152px;
	}
	.lkDownloadTicket__link{
		&.lkDownloadTicket__link_marginright{
			margin-right: 0px;
			margin-bottom: 10px;
		}
	}
}
@media (max-width: 530px) {
	.lkDownloadTicket__name{
		font-size: $fz16;
		width: calc(100% - 150px);
	}
	.lkDownloadTicket__downmail {
	    width: 135px;
	}
	.lkDownloadTicket__link{
		font-size: $fz14;
	}
}
@media (max-width: 470px) {
	.lkDownloadTicket__image {
	    margin-right: 15px;
	    width: 78px;
	    height: 61px;
	}
	.lkDownloadTicket__desc {
	    width: calc(100% - 93px);
    }
    .lkDownloadTicket__subtitle{
    	font-size: $fz16;
    }
    .lkDownloadTicket__data{
    	font-size: $fz14;
    }
}