.lkDescription{
	
}

.lkDescription__content__box{
    max-width: 605px;
}

.lkDescription__text{
	font-size: $fz14;
	color: $light_gray;
	line-height: 1.5;
	margin-bottom: 25px;
}

.lkDescription__btn{
	max-width: 249px;
}