.lkPersonalData{
}

.lkPersonalData__content__box{
	max-width: 660px;
}
.lkPersonalData__row{
	font-size: 0;
	margin-left: -25px;
	margin-right: -25px;
	padding-bottom: 30px;
}

.lkPersonalData__col{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding: 0 25px;
	
}

.lkPersonalData__list{
	
}
.lkPersonalData__item{
}

.lkPersonalData__subtitle{
	font-size: $fz14;
	color: $a_1;
	margin-bottom: 6px;
}

.lkPersonalData__form{
	&.active{
		.lkPersonalData__textarea{
			pointer-events: auto;
			padding: 18px 20px 0;
			border-radius: 25px;
			background: $white;
			border: 1px solid $gray_for_icon;
			margin-bottom: 15px;
		}
	}
}
.lkPersonalData__textarea{
	pointer-events: none;
	transition:0.3s;
	width: 100%;
	padding: 0;
	border-radius: 0;
	height: auto;
	font-size: $fz16 - 1px;
	border: none;
	font-family: $roboto;
	resize: none;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
	border: 1px solid transparent;
	
	width: calc(100% - 42px);
	padding: 0px 20px 0;
	transform:translateX(-20px);
}

.lkPersonalData__edit{
	
	margin-left: 15px;
	transform:translateY(-5px);
	cursor: pointer;
	display: inline-block;
	vertical-align: bottom;
	font-size: $fz14;
	font-weight: normal;
	color: $orange_main;
	&:hover{
		text-decoration: underline;
	}
}

@media (max-width: 730px) {
	.lkPersonalData__form{
		.popup__col {
		    width: 100%;
		}
	}
	.lkPersonalData__col{
		width: 100%;
	}
}
@media (max-width: 530px) {
	.lkPersonalData__form{
		&.active{
			.lkPersonalData__textarea{
				transform:translateX(0px);
			}
		}
	}
}