.lkvisitor{
	padding: 80px 0;
	position: initial;
	.container_fluid,
	.lkvisitor__row{
		position: initial;
	}
}

.lkvisitor__row{
	font-size: 0;
}


.content{
	padding-left: 70px;
	padding-bottom: 40px;
	width: calc(100% - 292px);
	display: inline-block;
	vertical-align: top;
	border-left: 1px solid #E0E0E0;
}


.content__box{
	max-width: 506px;
	width: 100%;
}


.lkvisitor__titleAvg{
	margin-bottom: 25px;
}


@media (max-width: 991px) {
	
	.content{
		border-left: none;
		padding-left: 50px;
		width: 100%;
	}
}
@media (max-width: 730px) {
	.lkvisitor {
    	padding: 55px 0;
    }
}
@media (max-width: 400px) {
	.content{
		padding-left: 30px;
	}
}