.menu{
	width: 909px;
	li{
		padding: 0 15px;
		display: inline-block;
		vertical-align: middle;
		&.current_page_item{
			a{
				&:before{
					transform:scale(1);
				}
			}
		}
	}
	a{
		text-transform: uppercase;
		position: relative;
		display: block;
		padding: 23px 0;
		color: $light_gray;
		letter-spacing: $lt05;
		font-size: $fz14;
		font-weight: bold;
		
		&:before{
			content: '';
			transition: 0.3s;
			position: absolute;
			top: calc(100% + 1px);
			left: 0;
			width: 100%;
			height: 2px;
			background: $orange_main;
			transform:scale(0);
		}
		&:hover{
			&:before{
				transform:scale(1);
			}
		}
	}
}


@media (max-width:1199px) {
	.menu{
		width: 675px;
		li{
			padding: 0 8px;
			display: inline-block;
			vertical-align: middle;
		}
		a{
			line-height: normal;
			font-size: $fz12;
		}
	}
}
@media (max-width:991px) {
	.menu{
		width: 100%;
		text-align: left;
		margin-bottom: 20px;
		li{
			text-align: left;
			display: block;
			padding:0px;
		}
		a{
			display: inline-block;
			color: $white;
			padding: 10px 0;
			font-size: $fz14;
			&:before{
				-webkit-transform-origin: left;
				   -moz-transform-origin: left;
				    -ms-transform-origin: left;
				     -o-transform-origin: left;
				        transform-origin: left;
			}
		}
	}
}