.mixBildBlock{
	&.mixBildBlock_padtop{
		padding-top: 100px;
	}
	padding-bottom: 100px;
}

.mixBildBlock__wrapp{
	
}
.mixBildBlock__row{
	margin-left: -75px;
	margin-right: -75px;
	
	
}
.mixBildBlock__col{
	padding: 0 75px;
	
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 1px);
	&.mixBildBlock__col_left{
		padding-left: 0px;
	}
	&.mixBildBlock__col_right{
		padding-right: 0px;
	}
}

@media (max-width: 991px) {
	.mixBildBlock__row{
		margin: 0;
	}
	.mixBildBlock__col{
		width: 100%;
		padding: 15px 0px;
	}
	.bg_conference{
		&:before{
			display: none;
		}
	}
	.mixBildBlock.mixBildBlock_padtop {
    	padding-top: 35px;
	}
	.mixBildBlock {
	    padding-bottom: 20px;
	}
	.mixBildBlock__feedback{
		width: 100%;
		max-width: 100%;
	}
}