.navigation{
	
}


.navigation__list{
	border-bottom: 1px solid $very_bright_gray;
}

.navigation__item{
	display: inline-block;
	vertical-align: middle;
}



// mobile


@media (max-width:991px) {
	.navigation__list{
		padding:23px 0;
	}
	.navigation__list__mobile{
		&:before{
			transition: 1s;
		    position: fixed;
		    display: block;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    z-index: 4;
		    background: rgba(0,0,0,.7);
		    content: "";
		    opacity: 0;
		    visibility: hidden;
		    
		}
		&.active{
			&:before{
				opacity: 1;
	    		visibility: inherit;
			}
	    }
	}
	.navigation__item_menu{
		width: 345px;
		position: fixed;
		background: #1A1C20;
		height: 100%;
		top: 0;
		right: 0;
		padding: 80px 40px 40px;
		z-index: 5;
		transform:translateX(100%);
		transition: 1s;
		&.active{
			transform:translateX(0%);
		}
	}

	.navigation__item_lang{
		display: none;
	}
}

@media (max-width:530px) {
	.navigation__item_menu{
		width: 300px;
	}
}