.news{
	padding-top: 60px;
	padding-bottom: 120px;
}

.news__row{
	margin-left: -25px;
	margin-right: -25px;
}
.news__col{
	.blockSignatureLine__title{
		font-size: $fz16;
	}
	.blockSignatureLine{
		&:hover{
			.blockSignatureLine__title{
				text-decoration: underline;
			}
		}
		
	}
	p{
		font-size: $fz14;
	}
	padding: 25px;
	display: inline-block;
	vertical-align: top;
	width: calc(33.33333333333333% - 1px);
}



@media (max-width: 991px) {
	.news__col{
		width: calc(50% - 1px);
	}
}
@media (max-width: 730px) {
	.news {
	    padding-top: 35px;
	    padding-bottom: 90px;
	}
	.news__col{
		width: 100%;
	}
}