.organizerSupport{
	padding-top: 35px;
	padding-bottom: 35px;
}

.organizerSupport__wrapp{
	
}

.organizerSupport__organiz{
	margin-bottom: 35px;
}

.organizerSupport__orgtext{
	display: inline-block;
	vertical-align: top;
	max-width: 433px;
	line-height: 1.5;
	font-size: $fz16;
	color: $light_gray;
	text-align: left;
}

.organizerSupport__image{
	padding: 0 40px;
	display: inline-block;
	vertical-align: middle;
}
.organizerSupport__img{
	display: inline-block;
	vertical-align: middle;
}

.organizerSupport__text{
	font-size: $fz16;
	color: $light_gray;
	line-height: 1.6;
	margin-bottom: 35px;
}


.organizerSupport__support{
	margin-bottom: 55px;
}
.organizerSupport__person{
	margin-bottom: 95px;
}


@media (max-width: 730px) {
	.organizerSupport__support{
		text-align: left;
	}
	.organizerSupport__img{
		margin-right: 5px;
	}
}