

.participantsMixBild__image{
	position: relative;
	width: 100%;
	padding-top: calc(275% * 100 / 569);
	margin-bottom: 50px;
	
}
.participantsMixBild__img{
	position: absolute;
	top: 0;
	left: 0;
	object-fit:cover;
	width: 100%;
	height: 100%;
}

.participantsMixBild__list{
	
}
.participantsMixBild__item{
	position: relative;
	padding-left: 40px;
	margin-bottom: 23px;
	font-weight: 500;
	font-size: $fz16;
	&:before{
		content: "";
		width: 20px;
		height: 3px;
		position: absolute;
		left: 0;
		top: 8px;
		background: $orange_main;
	}
}