.participate{
	padding-top: 140px;
	padding-bottom: 98px;
	position: relative;
	z-index: 1;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.participate__title{
	font-weight: bold;
	font-size: $fz40;
	color: $white;
	margin-bottom: 20px;
	width: calc(100% + 50px);
}

.participate__text{
	margin-bottom: 40px;
	font-size: $fz16;
	line-height: 1.7;
	color: $gray_for_icon;
	&.margin_bottom{
		margin-bottom: 20px;
	}
}
.participate__list{
	.participantsMixBild__item{
		color: $orange_main;
	}
}

@media (max-width: 991px) {
	.participate {
    	padding-top: 65px;
    	padding-bottom: 65px;
	}
	.participate__title{
		font-size: $fz30;
	}
}
@media (max-width: 730px) {
	.participate__title{
		font-size: $fz30 - 5px;
		width: 100%;
	}
	.participate__text {
    	margin-bottom: 20px;
    }
}