.photoReport{
	padding-top: 50px;
	
}


.photoReport__row{
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 55px;
}


.photoReport__list{
	
}
.photoReport__item{
	display: inline-block;
	vertical-align: middle;
	padding: 8px;
	&.photoReport__item_half{
		width: calc(50% - 1px);
	}
	&.photoReport__item_hole{
		width: calc(25% - 1px);
	}
}

.photoReport__image{
	width: 100%;
	position: relative;
	&.photoReport__image_half{
		padding-top: calc(230% * 100 / 447);
	}
	&.photoReport__image_hole{
		padding-top: calc(230% * 100 / 215);
	}
	
}

.photoReport__img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit:cover;
}

.photoReport__btn{
	max-width: 243px;
}

@media (max-width: 991px) {
	
}
@media (max-width: 730px) {
	.photoReport__row{
		margin-bottom: 30px;
	}
	.photoReport{
		padding-top: 25px;
	}
}