.post{
	padding: 80px 0;
}


.post__row{
	
}

.post__col{
	
}

.post__desc{
	padding-top: 25px;
	p{
		font-size: $fz16;
		color: $light_gray;
	    margin-bottom: 30px;
	    line-height: 1.65;
	}
}


.post__image{
	padding: 35px 0;
}