.presentationReport{
	background: $white;
	padding-bottom: 80px;
}
.presentationReport__row{
	
}

.presentationReport__col{
	width: calc(50% - 1px);
	display: inline-block;
	vertical-align: top;
}
.presentationReport__box{
	position: relative;
	&.presentationReport__box_rightfoto{
		width: calc(100% + 50px);
	}
	&.presentationReport__box_leftfoto{
		width: calc(100% + 50px);
		left: -50px;
	}
	&.presentationReport__box_righttext{
		padding-top: 50px;
		padding-left: 50px;
	}
}

.presentationReport__text{
	font-size: $fz16;
	font-size: $light_gray;
	line-height: 1.7;
	margin-bottom: 45px;
}


.presentationReport__image{
	position: relative;
	width: 100%;
	padding-top: calc(477% * 100 / 720);
}

.presentationReport__img{
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit:cover;
}

@media (max-width: 991px) {
	.presentationReport__row{
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.presentationReport__col{
		width: 100%;
		padding: 10px 0;
	}
	.presentationReport__box.presentationReport__box_righttext {
	    padding-top: 0px;
	    padding-left: 0px;
	}
	.presentationReport__box.presentationReport__box_rightfoto {
	    width: 100%;
	}
	.presentationReport__box.presentationReport__box_leftfoto {
	    width: 100%;
	    left: 0;
	}
	.presentationReport__col_order{
		-webkit-order: -1;
		    -ms-order: -1;
		        order: -1;
	}
}