.programEvents__wrapp{
	padding-top: 35px;
	padding-bottom: 50px;
}


.programEvents__row{
	margin-bottom: 60px;
}
.programEvents__col{
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
.programEvents__col_banner{
	max-width: 350px;
	width: 100%;
	
}
.programEvents__col_txt{
	max-width: 518px;
	width: 100%;
}


.programEvents__item{

	margin-bottom: 40px;
}
.programEvents__number{
	position: relative;
	font-size: $fz16;
	&:before{
		content: attr(data-number);
		position: absolute;
		left: -30px;
		top: 0px;
		font-size: $fz16;
		color: $gray_for_icon;
	}
}
.programEvents__text{
	margin-top: 3px;
	font-weight: bold;
	font-size: $fz20;
}



.programEvents__board{
	margin-bottom: 80px;
}




@media (max-width: 991px) {
	.programEvents__col_txt{
		max-width: 100%;
	}	
}
@media (max-width: 730px) {
	.programEvents__text{
		font-size: $fz20 - 2px;
	}
	.programEvents__list{
		text-align: left;
		padding-left: 30px;
	}
	.programEvents__row,
	.programEvents__board{
		margin-bottom: 30px;
	}
	.programEvents__item {
	    margin-bottom: 25px;
	}
	.programEvents__wrapp {
	    padding-top: 30px;
	    padding-bottom: 25px;
	}
}
@media (max-width: 530px) {
	.programEvents__text{
		font-size: $fz20 - 4px;
	}
	.programEvents__number{
		font-size: $fz14;
		&:before{
			font-size: $fz14;
		}
	}
	
}
