.reviews{
	padding-top: 55px;
	padding-bottom: 130px;
}


.reviews__wrapp{
	
}
.reviews__row{
	margin-left: -23px;
	margin-right: -23px;
	margin-bottom: 65px;
}

.reviews__list{
	padding-right: 120px;
}
.reviews__item{
	text-align: left;
	display: inline-block;
	vertical-align: top;
	padding: 23px;
	max-width: 345px;
	width: 100%; 
}


.reviews__title{
	font-size: $fz40;
	font-weight: bold;
	max-width: 850px;
	margin-bottom: 40px;
}

.reviews__bunchBtn{
	margin-bottom: 70px;
}


.reviews__image{
	
}

@media (max-width: 991px) {
	.reviews__item{
		max-width: 100%;
		padding: 0px 23px;
	}
	.reviews__title{
		font-size: $fz40 - 10px;
	}
}
@media (max-width: 730px) {
	.reviews{
		padding-top: 50px;
		padding-bottom: 100px;
	}
	.reviews__title{
		font-size: $fz40 - 15px;
		margin-bottom: 30px;
	}
	.reviews__bunchBtn,
	.reviews__row {
	    margin-bottom: 30px;
	}
	.reviews__list{
		padding-right: 0;
	}
}
@media (max-width: 530px) {
	.reviews__title{
		font-size: $fz40 - 20px;
	}
}