



.schemeMap__metro{
	font-size: $fz16;
	
	font-weight: 500;
	margin-bottom: 20px;
	&:before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		background: url(images/icon/icon-metro.svg) no-repeat center;
		width: 29px;
		height: 12px;
		margin-right: 5px;
	}
	span{
		display: inline-block;
		vertical-align: middle;
	}
}
.schemeMap__list{
	margin-bottom: 50px;
	
}
.schemeMap__item{
	margin-bottom: 10px;
	margin-right: 22px;
	display: inline-block;
	vertical-align: middle;
	font-size: $fz16;
	color: $light_gray;
	img,
	span{
		display: inline-block;
		vertical-align: middle;
	}
	img{
		margin-right: 10px;
		
	}
}
@media (max-width: 730px) {
	.schemeMap__list {
	    margin-bottom: 30px;
	}
}