.sergininKonusu{
	padding-top: 35px;
	padding-bottom: 25px;
}



.sergininKonusu__row{
	margin-bottom: 50px;
}
.sergininKonusu__board{
	margin-bottom: 50px;
}

.sergininKonusu__list{
	
}



.sergininKonusu__item{
	text-align: left;
	font-size: $fz16;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	width: calc(45% - 1px);
	padding:10px 0px;
	position: relative;
	&:before{
		content: "";
		background:url(images/icon/icon-plus.svg) no-repeat center/contain;
		width: 21px;
		height: 21px;
		position: absolute;
		left: -40px;
		top: 9px;
	}
}



.sergininKonusu__banner{
	margin-bottom: 50px;
}


@media (max-width: 730px) {
	.sergininKonusu__list{
		padding-left: 40px;
	}
	.sergininKonusu__item{
		width:100%;
	}
	.sergininKonusu__board,
	.sergininKonusu__banner {
    	margin-bottom: 30px;
    }
}