.sidebar{
	width: 292px;
	display: inline-block;
	vertical-align: top;
	padding-right: 30px;
	
	
}

.sidebar__container{
	width: 100%;
}

.sidebar__title{
	font-size: $fz20 - 3px;
	font-weight: 500;
	text-transform: uppercase;
	color: $orange_main;
	margin-bottom: 25px;
}


.sidebar__list{
	margin-bottom: 40px;
	li{
		margin-bottom: 20px;
	}
	a{
		display: inline-block;
		font-size: $fz14;
		color: $light_gray;
		transition:0.3s;
		&:hover{
			color: $orange_main;
		}
	}
	
}
.sidebar__close{
	display: none;
}
.die{
	display: none;
	z-index: 1;
	transition:0.3s;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 45px;
	
	background: #2D2D2D;
	&:after{
		content: '';
		position: absolute;
		top: 40px;
		left: 50%;
		transform: translate(-50%,0%);
		background: url(images/icon/icon-left-arrow.svg) no-repeat center;
		width: 30px;
		height: 30px;
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
		
		
		
	}
	&:before{
		content: "Навигация";
		color: $white;
		font-weight: bold;
		text-transform: uppercase;
		font-size: $fz14;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) rotate(-90deg);
		
	}
}
.sidebar__close{
	display: none;
}
@media (max-width: 991px) {
	.sidebar__close{
		display: block;
	}
	.sidebar{
		
		transition:0.3s;
		transform:translateX(-100%);
		z-index: 80;
		padding: 70px 30px;
		background: #FFFFFF;
		
		position: fixed;
		height: 100%;
		
		top: 0;
		left: 0;
		-ms-overflow-y: auto;
		    overflow-y: auto;
		-ms-overflow-x: hidden;
		    overflow-x: hidden;
		&.active{
			box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.1);
			z-index: 9;
			transform:translateX(0%);
		}
	}
	.sidebar__close{
		top: 15px;
		right: 15px;
		display: block;
	}
	.die{
		display: block;
		&.active{
			position: fixed;
			z-index: 8;
			width: 100%;
			height: 100%;
			background: rgba(#2D2D2D,0.7);
			&:after,
			&:before{
				opacity: 0;
			}
		}
	}


}

@media (max-width: 760px) {
	.die{
		height: calc(100% - 79px);
	}
}

@media (max-width: 400px) {
	.die{
		&:after{
			width: 15px;
			height: 15px;
			
		}
	}
	.die{
		width: 25px;
	}
}