.timeMap{
	margin: 100px 0;
	background: $white;
}
.timeMap__wrapp{
	
}

.timeMap__row{
	font-size: 0;
}
.timeMap__col{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}
.timeMap__desc{
	max-width: 470px;
}
.timeMap__map{
	
}


.google-container{
	width: 49.5vw;
	height: 631px;
}



.timeMap__smalltitle{
	font-size: $fz14;
	color: $light_gray;
	margin-bottom: 15px;
}
.timeMap__list{
	margin-bottom: 35px;
}
.timeMap__item{
	font-size: $fz16;
	font-weight: 500;
}



@media (max-width: 730px) {
	.timeMap{
	    margin: 40px 0;
		padding-top: 40px;
	}
	.timeMap__col{
		width: 100%;
	}
	.google-container {
    width: 100%;
    height: 331px;
    }
}