.visaSvisitors{
	
}
.visaSvisitors__box{
	width: calc(100% + 100px);
}
.visaSvisitors__image{
	position: relative;
	width: 100%;
	padding-top: calc(340% * 100 / 720);
}
.visaSvisitors__img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit:cover;
	z-index: 1;
}

.visaSvisitors__text{
	margin-bottom: 30px;
}


.visaSvisitors__visainfo{
	padding-top: 50px;
}
.visaSvisitors__desc{
	
}
.visaSvisitors__subtitle{
	margin-bottom: 25px;
	font-size: $fz14;
	text-transform: uppercase;
	color: $light_gray;
	font-weight: 900;
}
.visaSvisitors__titleAvg{
	font-weight: 500;
}
.visaSvisitors__infotext{
	margin-top: 0;
	margin-bottom: 25px;
	a{
		color: $orange_main;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}

.visaSvisitors__list{
	.participantsMixBild__item{
		&:before{
			background: $main_gray;
		}
	}
}