.workingHours{
}

.workingHours__box{
	z-index: 1;
	padding-top: 70px;
	padding-bottom: 70px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
	border: none;
}

.workingHours__list{
	max-width: 570px;
	width: 100%;
}


.workingHours__data,
.workingHours__time,
.workingHours__event{
	display: inline-block;
	vertical-align: top;
}
.workingHours__data,
.workingHours__time{
	width: 25%;
}
.workingHours__event{
	width: 50%;
}

.workingHours__item_head{
	 padding: 21px 0;
	border-top: none;
	.workingHours__data,
	.workingHours__time,
	.workingHours__event{
		color: $a_1;
		font-size: $fz14;
		
	}
}

.advertising__item_body{
	 padding: 21px 0;
	.workingHours__data,
	.workingHours__time,
	.workingHours__event{
		font-size: $fz16;
		font-weight: 300;
	}
	.workingHours__event{
		font-weight: 400;
	}
}

.advertising__item_multi{
	margin-top: 21px;
	width: 75%;
	margin-right: 0;
	margin-left: auto;
	border-top: 1px solid #ededed;
    padding: 21px 0 0;
    .workingHours__time{
    	width: 33%;
    }
    .workingHours__event{
    	width: 67%;
    }
}



.workingHours__box_worktime{
	position: relative;
	padding-left: 100px;
	width: calc(100% + 100px);
	left: -100px;
}
.workingHours__box_leadership{
	width: calc(100% + 100px);
}

.workingHours__text{
	margin-top: 0;
	max-width: 520px;
	width: 100%;
	margin-bottom: 40px;
	
}

.workingHours__download{
	margin-bottom: 15px;
	display: inline-block;
	color: $orange_main;
	font-size: $fz16;
	text-decoration: underline;
	font-weight: 500;
	&:hover{
		text-decoration: none;
	}
	
}

@media (max-width:730px) {
	.workingHours__box_worktime {
	    position: relative;
	    padding-left: 25px;
	    width: 100%;
	    left: 0;
	}
	.workingHours__box_leadership {
	    width: 100%;
	}
}