ul {
	list-style-type: none;
}

p, h1, h2, h3, h4 {
	margin: 0;
	font-weight: 100;
}

a {
	text-decoration: none;
	outline: none;
}
input, textarea {
	background-color: rgba(255,255,255, 0);
	outline: none;
	text-decoration: none;
	border: none;
}
img{
	max-width: 100%;
}
:focus {
	outline: none;
}
