@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');


@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: url('fonts/helvblack/HelveticaNeueCyr-Black.eot');
  src: url('fonts/helvblack/HelveticaNeueCyr-Black.woff2') format('woff2'),
       url('fonts/helvblack/HelveticaNeueCyr-Black.woff') format('woff'),
       url('fonts/helvblack/HelveticaNeueCyr-Black.ttf') format('truetype'),
       url('fonts/helvblack/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg'),
       url('fonts/helvblack/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url('fonts/helvbold/HelveticaNeueCyr-Bold.eot');
  src: url('fonts/helvbold/HelveticaNeueCyr-Bold.woff2') format('woff2'),
       url('fonts/helvbold/HelveticaNeueCyr-Bold.woff') format('woff'),
       url('fonts/helvbold/HelveticaNeueCyr-Bold.ttf') format('truetype'),
       url('fonts/helvbold/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg'),
       url('fonts/helvbold/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('fonts/helvmedium/HelveticaNeueCyr-Medium.eot');
  src: url('fonts/helvmedium/HelveticaNeueCyr-Medium.woff2') format('woff2'),
       url('fonts/helvmedium/HelveticaNeueCyr-Medium.woff') format('woff'),
       url('fonts/helvmedium/HelveticaNeueCyr-Medium.ttf') format('truetype'),
       url('fonts/helvmedium/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg'),
       url('fonts/helvmedium/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('fonts/helvroman/HelveticaNeueCyr-Roman.eot');
  src: url('fonts/helvroman/HelveticaNeueCyr-Roman.woff2') format('woff2'),
       url('fonts/helvroman/HelveticaNeueCyr-Roman.woff') format('woff'),
       url('fonts/helvroman/HelveticaNeueCyr-Roman.ttf') format('truetype'),
       url('fonts/helvroman/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg'),
       url('fonts/helvroman/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

