html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	line-height: 1.25;
	font-size: 14px;
}

body {
	font-family:$roboto;
	color: $main_gray;
	background: #F9F9F7;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: 0;
	box-sizing: border-box;
}
img{
	max-width: 100%;
}

#wrapper {
	width: 100%;
	min-width: 1170px + 20px;
	min-height: 100%;
	position: relative;
	overflow: hidden;
	padding-bottom: 34px;
}

#footer {
	width: 100%;
	min-width: 1170px + 20px;
	position: relative;
	overflow: hidden;
	margin-top: -34px;
}


.container_fluid {
	position: relative;
	width: 1290px;
	margin: 0 auto;
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}

.justi_cont{
	width: 100%;
	text-align: justify;
	font-size: 1px;
	&:after {
		display: inline-block;
		content: "";
		width: 100%;
		height: 0;
	}
}
.row{
	font-size: 1px;
	position: relative;
}

.container {
	position: relative;
	width: 912px;
	margin: 0 auto;
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}




@media (max-width: 1850px) {
	#wrapper {

	}
}
@media (max-width: 1360px) {
	.container_fluid {
		width: 1170px;
	}
}
@media (max-width:1199px) {

	#wrapper {
		min-width: 100%;
	}

	#footer {
		min-width: 100%;
	}
	
	.container_fluid {
		width: 970px;
	}
}

@media (max-width:991px) {
	#wrapper {
		min-width: 100%;
	}
	

	.container_fluid {
		width: 690px;
	}
	.container {
		width: 690px;
	}

	#footer {
		margin-top: -60px;
	}

}
@media (max-width:730px) {
	.container_fluid {
		width: 480px;
	}
	.container {
		width: 480px;
	}

}
@media (max-width:530px) {
	.container_fluid {
		max-width: 480px;
		width: calc(100% - 20px);
	}
	.container {
		max-width: 480px;
		width: calc(100% - 20px);
	}

}



