
.banner{
	
}

.banner__row{
	margin-left: -13px;
	margin-right: -13px;
}

.banner__col{
	padding:13px;
	display: inline-block;
	vertical-align: middle;
	
	&.banner__col_half{
		width: calc(50% - 1px);
	}
	&.banner__col_fullwith{
		width: 100%;
	}
}
.banner__block{
	position: relative;
	width: 100%;
	
	&.banner__block_220px{
		padding-top: calc(220% * 100 / 442);
	}
	&.banner__block_cube{
		padding-top: 100%;
	}
	&.banner__block_cube_fullhalf{
		padding-top: calc(348% * 100 / 285);
	}
	&.banner__block_280px{
		padding-top: calc(285% * 100 / 620);
	}
	
}
.banner_advertising{
	background: $blue_link;
	position: absolute;
	top: 0;
	height: 0;
	width: 100%;
	height: 100%;
}