.blockSignatureLine{
	display: inline-block;
	width: 100%;
}

.blockSignatureLine__data{
	margin-bottom: 17px;
	font-size: $fz14;
	color: $light_gray;
}
.blockSignatureLine__title{
	font-size: $fz20;
	font-weight: bold;
	padding-bottom: 18px;
	margin-bottom: 22px;
	position: relative;
	color: $main_gray;
	&:before{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 134px;
		height: 3px;
		background: $orange_main;
	}
}
.blockSignatureLine__text{
	font-size: $fz16;
	color: $light_gray;
}