.board{
	text-align: left;
	padding: 42px;
	background: #FFFFFF;
	border: 2px solid $orange_main;
	box-sizing: border-box;
	font-size: $fz20;
	font-weight: bold;
}

@media (max-width: 730px) {
	.board{
		padding: 22px;
		font-size: $fz20 - 2px;
	}
}
@media (max-width: 530px) {
	.board{
		padding: 20px;
		font-size: $fz20 - 4px;
	}
}