


.btn{
	cursor: pointer;
	outline-style: none;
	border: none;
	background: $orange;
	transition:all 0.3s;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 56px;
	text-align: center;
	-webkit-border-radius: 70px;
	        border-radius: 70px;
	&:hover{
		background: darken($orange, 10%);
	}
	&.btn_orangedarker{
		background:$orange_main;
		&:hover{
			background: darken($orange_main, 10%);
		}
	}
	&.btn_w260{
		max-width: 260px;
	}
	&.btn_h46{
		height: 46px;
		span{
			line-height: 46px;
		}
	}

	span{
		font-size: $fz14;
		text-align: center;
		line-height: 56px;
		display: block;
		color: $main_gray;
	}
}