

.bunchBtn{
	max-width: 347px;
	width: 100%;
	.btn{
		height: 46px;
		span{
			line-height: 46px;
		}
	}
}
.bunchBtn__row{
	margin-left: -7px;
	margin-right: -7px;
	
}
.bunchBtn__col{
	display: inline-block;
	vertical-align: middle;
	width: calc(50% - 1px);
	padding: 7px;
	&.bunchBtn__col_fullwith{
		width: 100%;
	}
}

