

.burger{
    z-index: 7;
    margin-left: 35px;
    display: none;
    vertical-align: middle;
    width: 31px;
    height: 20px;
    position: relative;
    cursor: pointer;
    
    &.active{
       .burger__icon_line{
            background:$white;
        }
        .burger__icon_line_1 {
           transform: rotate(-45deg) translate(0, 12.5px);
        }
        .burger__icon_line_2{
            opacity: 0;    
        }
        .burger__icon_line_3 {
            transform: rotate(45deg) translate(0, -12.5px);
        }
    }
    
}
.burger__icon{
    width: 31px;
    height: 20px;
    display:block;
    vertical-align: middle;
    position: relative;
}
.burger__icon_line {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $main_gray;
    right: 0;
    transition: 1s;
}
.burger__icon_line_1 {
    top: 0;
    border-radius: 2px 2px 0 0;
}
.burger__icon_line_2 {
    width: 23px;
    top: 50%;
    transform: translate(0, -50%);
    
}
.burger__icon_line_3 {
    bottom: 0;
    border-radius: 0 0 2px 2px;
}






@media (max-width:991px) {
    .burger{
        display: inline-block;
    }
}