%cube_before{
	position: relative;
	&:before{
		content: "";
		position: absolute;
		width: 44px;
		height: 44px;
		background: $white;
		border: 2px solid $orange_main;
	}
}
.cube{
	&:before,
	&:after{
		content: "";
		position: absolute;
		width: 44px;
		height: 44px;
		background: $white;
		border: 2px solid $orange_main;
	}
	&:before{
		top: -25px;
		right: -25px;
	}
	&:after{
		bottom: -25px;
		left: -25px;
	}
	&.cube_small{
		
		&:before,
		&:after{
			width: 22px;
			height: 22px;
		}
		&:before{
			top: -12.5px;
			right: -12.5px;
		}
		&:after{
			bottom: -12.5px;
			left: -12.5px;
		}
	}
}

.cube_left_top{
	@extend %cube_before;
	&:before{
		top: -25px;
		left: -25px;
	}
}
.cube_right_top{
	@extend %cube_before;
	&:before{
		top: -25px;
		right: -25px;
	}
}
.cube_left_bottom{
	@extend %cube_before;
	&:before{
		bottom: -25px;
		left: -25px;
	}
}
.cube_right_bottom{
	@extend %cube_before;
	&:before{
		bottom: -25px;
		right: -25px;
	}
}