.feedback{
	max-width: 430px;
	width: 100%;
	padding: 70px 50px;
	border: 2px solid $white;
	.field{
		margin-bottom: 20px;
	}
}


.feedback__btn{
	margin-top: 10px;
	margin-bottom: 20px;
}

.field__agreement{
	max-width: 272px;
	margin: 0 auto;
	color: $a_1;
	font-size: $fz12 - 1px;
	a{
		color: $a_1;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}


@media (max-width: 530px) {
	.feedback {
	    padding: 50px 10px;
	}
}
