.field{
	
}


.field__input{
	width: 100%;
	display: inline-block;
	height: 56px;
	text-indent: 30px;
	background: $white;
	border: 1px solid $gray_for_icon;
	border-radius: 50px;
	font-size: $fz14;
	color: darken($a_1,10%);
	@include placeholder {
		color: $a_1;
	}
	&.field__input_transparent{
		border: 1px solid $white;
		background: transparent;
		color: $white;
		@include placeholder {
			color: $white;
		}
	}
}




.field__label{
	cursor: pointer;
}

.field__radio{
	display: none;
}
.field__yesno{
	display: inline-block;
	vertical-align: middle;
	span{
		display: inline-block;
		vertical-align: middle;
	}
}
.field__dots{
	transition:0.3s;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	border: 1.5px solid $a_1;
	position: relative;
	&:before{
		transition:0.3s;
		content: "";
		transition:0.3s;
		width: 7px;
		height: 7px;
		border-radius: 100%;
		background: $orange_main;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		transform:scale(0);
		display: block;
	}
}
.field__text{
	transition:0.3s;
	margin-left: 7px;
	font-size: $fz20 - 2px;
	color: $a_1;
}

.field__radio:checked + .field__yesno{
	.field__dots{
		border: 1.5px solid $orange_main;
		&:before{
			transform:scale(1);
		}
	}
	.field__text{
		color: $orange_main;
	}
}




.field__textarea{
	width: 100%;
	display: inline-block;
	padding: 30px;
	background: $white;
	border: 1px solid $gray_for_icon;
	border-radius: 25px;
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
	font-size: $fz14;
	color: darken($a_1,10%);
	resize: none;
	font-family: $roboto;
	
	@include placeholder {
		color: $a_1;
		font-family: $roboto;
	}
	height: 160px;
}

