.fixednavigation{
	display: none;
	transition:all 0.3s;
	width: 100%;
	z-index: 3;
	background: $main_gray;
	position: fixed;
	left: 0;
	top: 0;
	
	transform:translate(0, -100%);
	
	&.active{
		transform:translate(0, 0%);
		box-shadow: 0px -5px 20px rgba(0,0,0,0.3);
	}
}

.fixednavigation__list{
	margin-left: -25px;
	margin-right: -25px;
	display: inline-block;
	vertical-align: middle;
}
.fixednavigation__item{
	padding: 0 25px;
	display: inline-block;
	vertical-align: middle;
}
.fixednavigation__link{
	transition:0.3s;
	position: relative;
	display: block;
	padding: 20px 0;
	color: $white;
	letter-spacing: $lt05;
	font-size: $fz14;
	font-weight: bold;
	
	&:hover{
		color: $orange_main;
	}
}


.fixednavigation__scrolltop{
	display: inline-block;
	vertical-align: middle;
	&:before{
		transition:0.3s;
		position: relative;
		top: 3px;
		content: "";
		border: solid $orange;
    	border-width: 0 3px 3px 0;
   		display: inline-block;
   		vertical-align: middle;
    	padding: 3px;
    	transform: rotate(-135deg);
	}
	.text{
		transition:0.3s;
		margin-left: 7px;
		font-size: $fz14;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: middle;
		color: $orange;
		letter-spacing: $lt05;
		font-weight: bold;
	}
	&:hover{
		&:before{
			border: solid darken($orange,5%);
    		border-width: 0 3px 3px 0;
			animation: move 0.7s infinite alternate;
		}
		.text{
			color: darken($orange,5%);
		}
	}
}

.fixednavigation__scrolltop{
	
}

@keyframes move {
	from {top: 3px;}
	to {top: -3px;}
}