.gallery{
	font-size: 0;
	margin-left: -3px;
	margin-right: -3px;
}
.gallery__item{
	padding: 3px;
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

@media (max-width:730px) {
	.gallery{
		text-align: left;
	}
	.gallery__item{
		width: auto;
		
	}
}