.navigation__list.iconav{
	border-bottom: none;
	display: inline-block;
	vertical-align: middle;
	
}
.iconav{
	width: 129px;
}

.iconav__person{
	display: block;
	width: 16px;
	height: 16px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}


@media (max-width:991px) {
	.navigation__list.iconav{
		padding: 0;
	}
	.iconav{
		width: 60px;
	}
}