

.lang{
	margin-left: 25px;
	display: inline-block;
}

.lang__text,
.lang__flag{
	display: inline-block;
	vertical-align: middle;
}
.lang__text{
	color: $light_gray;
	font-weight: bold;
	margin-right: 7px;
	font-size: $fz14;
	text-transform: uppercase;
}
.lang__flag{
	width: 20px;
	height: 12px;
}

.lang__mobile{
	display: none;
	margin-left: 0;
}

@media (max-width:991px) {
	.lang__text{
		color: $white;
	}
	.lang__mobile{
		display: inline-block;
	}
}