.person{
	
}

.person__personality{
	margin-bottom: 15px;
}
.person__image{
	margin-right: 25px;
	display: inline-block;
	vertical-align: middle;
	width: 85px;
	height: 113px;
	img{
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 1;
		object-fit:cover;
	}
	
}


.person__data{
	width: calc(100% - 115px);
	display: inline-block;
	vertical-align: middle;
	p{
		line-height: 1.49;
		font-size: $fz14;
		color: $light_gray;
	}
}
.person__name{
	font-size: $fz16;
	font-weight: bold;
	margin-bottom: 3px;
}
.person__status{
	line-height: 1.49;
	font-size: $fz14;
	color: $light_gray;
}

.person__txt{
	font-size: $fz14;
	color: $light_gray;
	line-height: 1.49;
}

.sergininKonusu__person{
	margin-bottom: 55px;
}