.playBtn{
	position: absolute;
	top: 50%;
	transform:translate(0,-50%);
	right: 295px;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	-webkit-border-radius: 100%;
	        border-radius: 100%;
	transition:all 0.3s;
	width: 93px;
	height: 93px;
	background: #FFF;
	opacity: 0.8;
	&:hover{
		opacity: 1;
		.playBtn__play{
			transform:translate(-50%,-50%) scale(1);
			
		}
	}
}

.playBtn__play{
	transition:all 0.3s;
	width: 24px;
	height: 37px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%) scale(0.8);
}
@media (max-width: 1360px) {
	.playBtn{
		right: 235px;
	}
}


@media (max-width:1199px) {
	.playBtn{
		right: 135px;
	}
}

@media (max-width:991px) {
	.playBtn{
		width: 56px;
		height: 56px;
		right: 65px;
	}
	.playBtn__play{
		width: 20px;
		height: 33px;
	}
}
@media (max-width:730px) {
	.playBtn{
		right: 10px;
	}
}
@media (max-width:530px) {
	.playBtn{
		right: 25px;
		top: calc(50% - 43px);
	}
	
}