
.popup{
	position: relative;
	padding: 70px 15px 80px;
	width: 100%;
	background: $white;
	border-radius: 15px;
}
.popup__close{
	cursor: pointer;
	transition:0.3s;
	width: 24px;
	height: 24px;
	position: absolute;
	top: -30px;
	right: -30px;
	transform:rotate(45deg);
	&:hover{
		transform:scale(1.2) rotate(45deg);
		&:before,
		&:after{
			background: darken(#C4C4C4,10%);
		}
	}
	&:before,
	&:after{
		content: "";
		transition:0.3s;
		
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		border-radius: 100px;
		background: #C4C4C4;
	}
	&:before{
		width: 100%;
		height: 3.5px;
	}
	&:after{
		width: 3.5px;
		height: 100%;
	}
}
.popup__container{
	max-width: 564px;
	width: 100%;
	margin: 0 auto;
}
.popup__title{
	font-weight: bold;
	font-size: $fz30;
	margin-bottom: 25px;
}
.popup__text{
	font-weight: normal;
	color: $light_gray;
	font-size: $fz14;
	line-height: 1.4;
	margin-bottom: 45px;
}


.popup__row{
	text-align: left;
	font-size: 0;
	margin-left: -10px;
	margin-right: -10px;
}
.popup__col{
	width: 50%;
	padding: 10px; 
	display: inline-block;
	vertical-align: middle;
	&.full{
		width: 100%;
	}
}

.popup__agreement{
	text-align: left;
}



// popup two


.popup__listtxt{
	text-align: left;
}
.popup__itemtxt{
	margin-bottom: 10px;
	font-size: $fz14;
	color: $a_1;
}

.popup__subtitle{
	text-align: left;
	font-size: $fz20;
	margin-top: 45px;
	margin-bottom: 30px;
	font-family: $helvMedium;
}



.popup__ask{
	padding: 7.5px 0;
}
.popup__asktext{
	text-align: left;
	width: calc(100% - 155px);
	display: inline-block;
	vertical-align: middle;
	font-size: $fz16;
	color: $light_gray;
}
.popup__askckeck{
	width: 125px;
	display: inline-block;
	vertical-align: middle;
}





.popup_half{
	max-width: 450px;
	.popup__container{
		max-width: 340px;
	}
}

@media (max-width:530px) {
	.popup__title{
		font-size: $fz30 - 5px;
	}
	.popup__container{
		max-width: 340px;
	}
	.popup__col{
		width: 100%;
	}

	
	.popup__asktext{
		width: calc(100% - 85px);
	}
	.popup__askckeck {
    	width: 55px;
    }
    .popup__close {
	    top: -40px;
    	right: 10px;
    }
}