// ::selection {
//    background: #212129;
// }



.search-block{
    position: relative;
    height: 30px;
    width: 40px;
    
}
.search-wrapper {
    position: absolute;
    transform: translate(0%, -50%);
    top:50%;
    right: 0;
}
.input-holder { 
    border: 2px solid transparent;   
    height: 40px;
    width: 50px;
    overflow: hidden;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.search-input {
    width:100%;
    height: 100%;
    padding:0px 50px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    border:none;
    outline:none;
    font-size: $fz14;
    font-weight: bold;
    color:$main_gray;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}
.search-icon {
    background: transparent;
    width:40px;
    height: 100%;
    border:none;
    border-radius:6px;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.search-icon span {
    width:16px;
    height:16px;
    display: inline-block;
    vertical-align: middle;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}

.search-icon span::before,.search-icon span::after {
    position: absolute; 
    content:'';
}
.search-icon span::before {
    width: 7px;
    height: 2px;
    left: 13px;
    top: 6px;
    border-radius: 2px;
    background:  $second_gray;
}
.search-icon span::after {
    width: 10px;
    height: 10px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 2px solid  $second_gray;
}
.search-close {
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    right:20px;
    width:16px;
    height:16px;
    cursor: pointer;
    transform: translate(0,-50%) rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}
.search-close::before, .search-close::after {
    position:absolute;
    content:'';
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.search-close::before {
    background: $second_gray;
    width: 2px;
    height: 100%;
}
.search-close::after {
    background: $second_gray;
    width: 100%;
    height: 2px;
}


.search-wrapper.active{
    .input-holder {
        width:450px;
        border-radius: 50px;
        
         border: 1px solid $orange_main;
        background: #FFF;
        transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    }
    .search-icon {
        margin: 0px;
        border-radius: 30px;
        position: relative;
    }
    .search-input {
        
        opacity: 1;
        transform: translate(0, 0px);
    }

    .search-close {
        opacity: 1;
        right:-40px;
        transform: translate(0,-50%) rotate(45deg);
        transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        transition-delay: 0.5s;
    }

}

@media (max-width:730px) {
    .search-wrapper.active{
        .input-holder {
            width: 395px; 
        }
    }
}
@media (max-width:530px) {
    .search-wrapper.active{
        .input-holder {
           width: calc(100vw - 105px);
        }
    }
}