
.slider{
	position: relative;
	margin-bottom: 25px;
}

.slider__slider{
	position: relative;
	z-index: 1;
}

.slider__arrow{
	z-index: 2;
	box-shadow: 0 0px 4px rgba(0,0,0,.25);
	opacity: 0.9;
	cursor: pointer;
	background: $white;
	width: 44px;
	height: 44px;
	position: absolute;
	top: 50%;
	transform:translate(0,-50%);
	transition:all 0.3s;
	&:before{
		transition:all 0.3s;
		content: "";
		position: absolute;
		top: 50%;
		border: solid $gray_for_icon;
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 10px;
	}
	&:hover{
		box-shadow: 0 0px 9px rgba(0,0,0,.25);
		&:before{
			border: solid $orange_main;
			border-width: 0 2px 2px 0;
		}
	}
}
.slider__arrow_left{
	left: -100px;
	&:before{
		left: 60%;
		transform: translate(-50%,-50%) rotate(135deg);
	}
}
.slider__arrow_right{
	right: -100px;
	&:before{
		left: 40%;
		transform: translate(-50%,-50%) rotate(-45deg);
	}
}

.slick-dots{
	position: absolute;
	width: 100%;
	margin-top: 15px;
	text-align: center;
	top: 100%;
    left: 0;
	li{
		transition:all 0.3s;
		margin: 0 5px;
		display: inline-block;
		vertical-align: middle;
		&.slick-active{
				width: 11px;
				height: 11px;
				cursor: default;	
		}
		cursor: pointer;
		border: none;
		outline: none;
		color: transparent;
		font-size: 0;
		border-radius: 100%;
		width: 4px;
		height: 4px;
		background: #C4C4C4;
		button{
			display: none;
			width: 0;
			height: 0;
			opacity: 0;
			font-size: 0;
		}
	}
}


@media (max-width:1199px) {
	.slider__arrow_left{
		left: 0;
	}
	.slider__arrow_right{
		right: 0;
	}
}

@media (max-width:730px) {
	.slider__slide{
		height: 260px;
		position: relative;
		img{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit:cover;
		}
	}
}