

.tell{
	text-align: right;
}
.tell__item{
	font-size: 18px;
	display: block;
	color: #FFF;
	line-height: 1.5;
	
}
.tell__phone{
	
}
.yellow{
	// color: $yellow;
}
.tell__room{
	
}
.tell__link{
	position: relative;
	text-decoration: underline;
	color: #FFF;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	transition:0.2s;
	line-height: normal;
	&:hover{
		text-decoration: none;
	}
	&:before{
		content: "";
		background: url(images/icon/castle.png);
		width: 16px;
		height: 21px;
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		display: inline-block;
		vertical-align: middle;
		top: -3px;
		margin-right: 7px;
	}
}