.modal-popup{
	display: none;
	padding: 60px 10px 0;
	overflow-y: auto;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	-webkit-overflow-scrolling: touch;
	z-index: 99999;
	&:after{
		height: 100%;
		display: inline-block;
		vertical-align: middle;
		margin-left: -4px;
		content: "";
	}
}


.modal-popup-block{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 60px;
	max-width: 700px;
	width: calc(100% - 4px);
	
}

body{
	&.hidden{
		overflow: hidden;
	}
}

@media (max-width:530px) {
	.modal-popup-block{
		max-width: 450px;
	}
}