.selectClick{
	z-index: 10;
	cursor: pointer;
	position: relative;
	text-align: left;
	width: 100%;
	display: inline-block;
	height: 56px;
	padding-left: 30px;
	padding-right: 50px;
	background: $white;
	border: 1px solid $gray_for_icon;
	border-radius: 50px;
	font-size: $fz14;
	color: darken($a_1,10%);
	&:before{
		content: '';
	    position: absolute;
	    right: 30px;
	    top: calc(50% - 6px);
	    
	    border: solid $light_gray;
    	border-width: 0 2px 2px 0;
    	display: inline-block;
    	padding: 6px;
    	transform: translateY(-50%) rotate(45deg);
	    z-index: 2;
	    transition:0.3s;
	}
	&.active{
		z-index: 11;
		&:before{
			top: 50%;
			transform: translateY(-50%) rotate(-135deg);
		}
	}
}
.select__selected{
	display: block;
	line-height: 56px;
	width: 100%;
	white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; 
}

.select__list{
	display: none;
	left: 0;
	position: absolute;
	background: $white;
	box-shadow: 0px 0px 6px rgba(0,0,0,.5);
	width: 100%;
	height: 170px;
	overflow-y: auto;
	overflow-x: hidden;
	&.top{
		top: calc(100% + 5px);
	}
	&.bottom{
		bottom: calc(100% + 5px);
	}

	li{
		cursor: pointer;
		white-space: nowrap; /* Запрещаем перенос строк */
    	overflow: hidden; /* Обрезаем все, что не помещается в область */
    	text-overflow: ellipsis; 
		padding:10px 10px 10px 30px;
		&:hover{
			color: $white;
			background: $blue_link;
		}
		&.selected{
			color: $white;
			cursor: default;
			background: rgba($light_gray,0.6);
		}
	}
}